<table id="replies">
  <% @tweets.each do |tweet| %>
  <tr>
    <td>
      <a href="http://twitter.com/<%= tweet.author.screen_name %>">
        <img src="<%= tweet.author.image_url %>" alt="<% tweet.author.screen_name %>" class="author_image" /><br/>
        <div class="author_name"><%= tweet.author.screen_name %></div>
      </a>
    </td>
    <td>
      <%= tweet.text %>
    </td>
  </tr>
  <% end %>
</table>